In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from pandas.io import sql
import snowflake.connector
import keyring
import psycopg2 
import time
from datetime import date, timedelta

pd.set_option('display.max_colwidth', 50)
pd.set_option('display.max_columns', 500)

from matplotlib import pyplot as plt
import seaborn as sns
color = sns.color_palette()
%matplotlib inline
sns.set_style("darkgrid")

In [2]:
snowflake_username = 'matthew.bessey@disneystreaming.com'

In [3]:
ctx = snowflake.connector.connect(authenticator='externalbrowser', 
                                  user=snowflake_username, 
                                  account='disneystreaming.us-east-1')

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [7]:
query = """
select o.swid
, o.swid_holdout
, a.accountid
, s.subscription_id
, e.TOTAL_STREAMS_L1
, e.total_streams_l7
, e.is_entitled
, e.NUM_STREAMING_DEVICES_L7
from subscription s
join account a on a.accountid = s.account_id
join oneid_combined o on a.swid = o.swid
join "DSS_PROD"."DISNEY_PLUS"."DIM_DISNEY_DAILY_ACCOUNT_ENGAGEMENT" e on a.accountid = e.account_id
where s.partner = 'disney'
--and s.is_entitled = 1
and e.ds = '2019-12-12'
limit 1000000;
"""

In [8]:
engagement = pd.read_sql(query,ctx)

In [9]:
engagement.columns = engagement.columns.str.lower()

In [10]:
def holdout_grouping(df):
    if df['swid_holdout'] < 243:
        return "all marketing"
    elif df['swid_holdout'] >= 243 and df['swid_holdout'] < 245:
        return "no onboarding"
    else:
        return "no marketing"

In [11]:
engagement['marketing_holdout'] = engagement.apply(holdout_grouping,axis=1)
#engagement.loc[engagement.swid_holdout < 244,'marketing_holdout'] = 'all marketing'
#engagement.loc[(engagement.swid_holdout >= 244) & 
#               (engagement.swid_holdout < 260),'marketing_holdout'] = 'no onboarding'

In [44]:
engagement.head()

,swid,swid_holdout,accountid,subscription_id,total_streams_l1,total_streams_l7,is_entitled,num_streaming_devices_l7,marketing_holdout
0,{A79DCC2F-32C7-4690-83AA-7B288A30A158},83,690d5b92-8f1b-49c9-be47-b80ad45931c5,D2C:BAMTECH:urn:dss:disney:orders:94452df4-6dd...,0,1,1,1,all marketing
1,{A7A69657-7334-4FEE-81A6-B8ADBA1D34DB},23,794687de-12d7-47e2-a59a-8f5b31f4bc69,D2C:BAMTECH:urn:dss:disney:orders:5d4eee57-853...,0,0,1,0,all marketing
2,{A83260A8-AF04-4AC6-A640-2A8BAB1CBF79},91,affcefe5-5098-4da3-8318-e2399be981bd,IAP:APPLE:290000514584786,0,3,1,1,all marketing
3,{A84482F8-68C8-496C-95EA-C4711556AD6A},239,abe15aa0-3ff7-447e-b199-7b1c0ba23d54,EXT:VERIZON:VR-DB8RPXCMRMND8BV6,0,0,1,0,all marketing
4,{A863BBE9-0EE9-43CC-BF75-C970A46ED5B1},188,5e1a226f-05ef-496e-9d05-86929c680957,D2C:BAMTECH:urn:dss:disney:orders:34f18959-11d...,0,7,1,2,all marketing

In [12]:
engagement.groupby(['marketing_holdout']).mean()

,swid_holdout,total_streams_l1,total_streams_l7,num_streaming_devices_l7
marketing_holdout,,,,
all marketing,120.989641,1.961209,15.839881,1.654915
no marketing,250.016855,1.948920,15.773456,1.643166
no onboarding,243.497691,1.977932,15.828586,1.637028